<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    cacheDirectory="dependencies"
    colors="true"
    testdox="true"
>

    <testsuites>
        <testsuite name="config">
            <directory>tests/config</directory>
        </testsuite>
    </testsuites>

</phpunit>